@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}
body {
  background: #457b9d;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 2;
  animation-name: fade;
  animation-duration: 2s;
  color: white;
}
.top-bar {
  justify-content: space-between;
  display: flex;
  padding: 16px 24px;
}
.e {
  padding: 50px;
}

ul.nav-bar {
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
ul.op {
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 40px;
  color: #f1faee;
  font-weight: bold;
  width: fit-content;
  display: inline;
  text-decoration: none;
}
a.nav-bar {
  padding: 5px, 5px;
}

li {
  /* width: fit-content; */
  display: inline-block;
  /* display: flex; */
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}
li a {
  justify-content: center;
  display: inline;
  color: #f1faee;
  text-align: center;
  text-decoration: none;
  width: auto;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: #1d3557;
  color: #f1faee;
  border: 2px solid #1d3557;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 35px;
  border-radius: 1rem;
}
button:hover {
  background-color: #a8dadc;
  color: #1d3557;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

form {
  justify-content: center;
  display: flex;
  align-items: center;
}
option {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add {
  background-color: #a8dadc;
  color: #1d3557;
}
input {
  border-radius: 1rem;
  border: none;
  background-color: #1d3557;
  color: #f1faee;
  border: 2px solid #1d3557;
}
input:hover {
  background-color: #a8dadc;
  color: #1d3557;
}

#dim,
#dim2,
#dim3,
#dim4 {
  max-width: 30px;
  background: #f1faee;
  border: none;
  color: #1d3557;
  border-radius: 0px;
}

.con {
  padding: 5px;
}

/* .matrix {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* div#myDynamicTable {
  position: relative;
}
div#myDynamicTable::before,
div#myDynamicTable::after {
  content: "";
  position: absolute;
  top: 0;
  border: 1px solid #000;
  width: 6px;
  height: 100%;
}
div#myDynamicTable::before {
  left: -6px;
  border-right: 0;
}
div#myDynamicTable::after {
  right: -6px;
  border-left: 0;
} */

div#myDynamicTable {
  justify-content: center;
  align-items: center;
  display: flex;
}
table {
  border-collapse: collapse;
  border-color: #f1faee;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  text-align: center;
}
.trick {
  justify-content: center;
  align-items: center;
  display: flex;
}
.matrix {
  justify-content: center;
  align-items: center;
  display: flex;
}
