{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    {%block head%}
    <meta charset ="utf-8"/>
    <meta name ="viewport" content = "width=device-width, initial-scale=1"/>
    <link href= "{{ url_for('static',filename='css/addition.css') }}" rel="stylesheet" type= "text/css" ></link>
    <title>{block title}</title>
    {%endblock%}
  </head>
  <body>
          {% block title %}{% endblock %}

    <ul>
      <button>Addition</button>
      <button>Subtraction</button>
      <button>Multiplication</button>
      <button>Determinant</button>
      <button>Inverse</button>
      <button>meme</button>

    </ul>
  </body>
</html>
