<!DOCTYPE html>
<html>
  <head>
    {%block head%}
    <meta charset ="utf-8"/>
    <meta name ="viewport" content = "width=device-width, initial-scale=1"/>
    <link href= "{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type= "text/css" ></link>
    <title>matricks!</title>
    {%endblock%}
  </head>
  <body>
    <div class ="navbar">
      
       <nav class="top-bar">
      <a href="#"><h1>[matricks!]</h1></a>

      <ul class="nav-bar">
        <li><a href="#">about us</a></li>
        <li>
          <a href="#">account</a>
        </li>
      </ul>
    </nav>
    </div>
   
    <div class = "operations">
      <ul class = "op">
      <a href = "addition">
         <button id = "add">
        addition
      </button>
      </a>
     
      <a href = "subtraction">
      <button id = "sub">
        subtraction
      </button>
      </a>
      
      
      <a href = "multiplication">
      <button id = "mult">
        multiplication
      </button>
      </a>

      <a href = "determinant">
        <button id = "det">
        determinant
      </button>
      </a>
      
      <a href = "inverse">
      <button id = "inverse">
        inverse
      </button>
      </a>
      </ul>
    </div>
  {%block action%}

        <button class = "con" onclick="Javascript:addTable1(document.getElementById('dim').value,document.getElementById('dim2').value); Javascript:addTable2(document.getElementById('dim3').value,document.getElementById('dim4').value);">
            set matrices
      </button>
    <form action="/add", method="POST">
         <div class = "firstform">
      <label for="mat1">first matricks dimension:&nbsp</label>
      
        <input type="number" id="dim" name="dim" required
       minlength="1" min = "1" maxlength="3" placeholder = "0">
        &nbspx&nbsp
         <input type="number" id="dim2" name="dim2" required
       minlength="1" min = "1" maxlength="3" placeholder = "0">
      </div>
        <br>
        <div class = "secondform">
      <label for="mat2">&nbspsecond matricks dimension:&nbsp</label>
        <input type="number" id="dim3" name="dim3" required
       minlength="1" min = "1" maxlength="3" size="1" placeholder = "0">
        &nbspx&nbsp
         <input type="number" id="dim4" name="dim4" required
       minlength="1" min = "1" maxlength="3" size="1" placeholder = "0">
        </div>
        <br>
        &nbsp
      <div id="myDynamicTable">

     
        </div>
      <div id = "letsdoatrick">
        <input type="submit" class = "trick" value="let's do a trick!" >
      </div>
    </form>
   {%endblock%}

    {%if res%}
   <div class = "matrix">
      <p>resultant matricks: </p>{{res}}
    </div>
  </body>
  {%endif%}
</html>

<script>
function hide() {
  var x = document.getElementById("letsdoatrick");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function addRow() {
          
    var myName = document.getElementById("name");
    var age = document.getElementById("age");
    var table = document.getElementById("myTableData");
 
    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);
 
    row.insertCell(0).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';
    row.insertCell(1).innerHTML= myName.value;
    row.insertCell(2).innerHTML= age.value;
 
}

function deleteRow(obj) {
      
    var index = obj.parentNode.parentNode.rowIndex;
    var table = document.getElementById("myTableData");
    table.deleteRow(index);
    
}
function deleteTable(obj){
  var index = obj.parentNode.parentNode.rowIndex;
  var table = document.getElementById("myDynamicTable");
  table.deleteTable(index);
}
function addTable1(param1, param2) {
    document.getElementById("myDynamicTable").innerHTML = "\nmatricks 1: ";
    var myTableDiv = document.getElementById("myDynamicTable");
      
    var table = document.createElement('TABLE');
    table.border='1';
    // var input = document.createElement("input");
    var tableBody = document.createElement('TBODY');
    table.appendChild(tableBody);
      
    for (var i=0; i<param1; i++){
       var tr = document.createElement('TR');
       tableBody.appendChild(tr);
       
       for (var j=0; j<param2; j++){
           var td = document.createElement('TD');
           td.width='10';
           var input = document.createElement("input")
           td.appendChild(input);
           input.setAttribute('type', 'number');
           input.setAttribute('name', `1,${i},${j}`);
           input.style.width = "35px";
           input.style.height = "35px";
           input.style.borderRadius = "0";
           tr.appendChild(td);
       }
    }
    console.log(tr.getAttribute)
    
    myTableDiv.appendChild(table);
}
 
 function addTable2(param1, param2) {

    var myTableDiv = document.getElementById("myDynamicTable");
      
    var table = document.createElement('TABLE');
    table.border='1';
    // var input = document.createElement("input");
    var tableBody = document.createElement('TBODY');
    table.appendChild(tableBody);
      
    for (var i=0; i<param1; i++){
       var tr = document.createElement('TR');
       tableBody.appendChild(tr);
       
       for (var j=0; j<param2; j++){
           var td = document.createElement('TD');
           td.width='10';
           var input = document.createElement("input")
           td.appendChild(input);
           input.setAttribute('type', 'number');
           input.setAttribute('name', `2,${i},${j}`);
           input.style.width = "35px";
           input.style.height = "35px";
           input.style.borderRadius = "0";
           tr.appendChild(td);
       }
    }
    myTableDiv.appendChild(table);
}
function load() {
    
    console.log("Page load finished");
 
}
</script>
