<!DOCTYPE html>
<html>
  <head>
    {%block head%}
    <meta charset ="utf-8"/>
    <meta name ="viewport" content = "width=device-width, initial-scale=1"/>
    <link href= "{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type= "text/css" ></link>
    <title>matricks!</title>
    {%endblock%}
  </head>
  <body>
    <div class ="navbar">
      
       <nav class="top-bar">
      <a href="#"><h1>[matricks!]</h1></a>

      <ul class="nav-bar">
        <li><a href="#">about us</a></li>
        <li>
          <a href="#">account</a>
        </li>
      </ul>
    </nav>
    </div>
   
    <div class = "operations">
      <ul class = "op">
      <a href = "addition">
         <button id = "add">
        addition
      </button>
      </a>
     
      <a href = "subtraction">
      <button id = "sub">
        subtraction
      </button>
      </a>
      
      
      <a href = "multiplication">
      <button id = "mult">
        multiplication
      </button>
      </a>

      <a href = "determinant">
        <button id = "det">
        determinant
      </button>
      </a>
      
      <a href = "inverse">
      <button id = "inverse">
        inverse
      </button>
      </a>
      </ul>
    </div>
  {%block action%}
    <form action="/add", method="POST">
      <div>
      <label form="mat1">first matrix dimension:&nbsp</label>
        <select name="dim">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        &nbspx&nbsp
        <select name="dim2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
        <br>
        <div>
      <label form="mat2">&nbspsecond matrix dimension:&nbsp</label>
        <select name="dim3">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        &nbspx&nbsp
        <select name="dim4">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        </div>
        <br>
      <input type="submit" value="continue">
    </form>
    
   {%endblock%}
   <div class = "resultSum">
      {{res}}
    </div>
  </body>
</html>
