<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8"/>
    <meta name ="viewport" content = "width=device-width, initial-scale=1"/>
    <link href= "{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type= "text/css" ></link>
    <title>{% block title%}matricks!{%endblock%}</title>
  </head>
  <body>
    <nav class="top-bar">
      <a href="#"><h1>[matricks!]</h1></a>

      <ul class="nav-bar">
        <li><a href="#">about us</a></li>
        <li>
          <a href="#">account</a>
        </li>
      </ul>
    </nav>
    <div class = "operations">
      <ul class = "op">
      <button id = "add">
        addition
      </button>
      <button>
        subtraction
      </button>
      <button>
        multiplication
      </button>
      <button>
        determinant
      </button>
      <button>
        inverse
      </button>
      </ul>
    </div>
    <form action="/">
      <label for="cars">matrix dimension: </label>
        <select name="dim">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        x
        <select name="dim">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <br><br>
      <input type="submit" value="let's do a trick!">
    </form>
  </body>
</html>
