<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>{block title}</title>
  </head>
  <body>
    <nav class="top-bar">
      <a href="#"><h1>matricks!</h1></a>

      <ul class="nav-bar">
        <li><a href="#">About Us</a></li>
        <li>
          <a href="#">Account</a>
        </li>
      </ul>
    </nav>
    <ul>
      <button>Addition</button>
      <button>Subtraction</button>
      <button>Multiplication</button>
      <button>Determinant</button>
      <button>Inverse</button>
    </ul>
  </body>
</html>
