{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
      {%block head%}
    <meta charset ="utf-8"/>
    <meta name ="viewport" content = "width=device-width, initial-scale=1"/>
    <link href= "{{ url_for('static',filename='css/inverse.css') }}" rel="stylesheet" type= "text/css" ></link>
    {%endblock%}
  </head>
  <body>
      {%block action%}
      <form action="/inv", method="POST">
      <div>
      <label form="mat1">first matrix dimension:&nbsp</label>
        <select name="dim">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        &nbspx&nbsp
        <select name="dim2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
        <br>
        <br>
      <input type="submit" value="continue">
    </form>
    {%endblock%}
  </body>
</html>
